<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Hypertherm</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Style custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">
  <!--  -->
  <link href="css/addons/datatables.min.css" rel="stylesheet">
  <link href="css/addons/datatables-select.min.css" rel="stylesheet">

  <!-- Style Custom style -->
  <link href="css/custom.css" rel="stylesheet">
  <!-- Datatable -->
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/> -->

</head>

<body class="lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar py-0">
      <div class="container-fluid">

        <!-- Brand -->
        <!-- <div class="navbar-brand">
          
        </div> -->

        <form id="filter" class="form-inline d-flex md-form my-3">
          <div class="form-row">
            <div class="col form-content d-flex justify-content-center">


              <select id="filter_value" class="browser-default custom-select">
                <option>Find By</option>
                <option value="assetId">Asset ID</option>
                <option value="UUID">UUID</option>
                <option value="ManufacturingDate">Manufacturing Date</option>
                <option value="manufacturer">Manufacturer</option>
                <option value="serialNumber">Serial Number</option>
              </select>

            </div>
           
          </div>

        </form>


        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- <ul class="navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item border-left border-right">
              <a href="#" class="nav-link waves-effect">
                <i class="fa fa-bell" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item dropdown mx-5">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul> -->

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed ">

      <!-- logo wrapper -->
      <a class="logo-wrapper waves-effect">
        <div class="">
          <img src="img/svgSlider/hyperetherm.svg" class="img-fluid mr-2" alt="HYPERETHERM" />
        </div>
      </a>

          <!-- list group -->
          <div class="list-group list-group-flush">
            <a href="Summary.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-pencil-alt mr-3"></i>

                <span>Summary report</span>
            </a>
            <a href="DataReplicated.html" class="list-group-item list-group-item-action waves-effect  active-link">
                <i class="fas fa-digital-tachograph mr-3"></i>
                <span>Data Replicated</span>
            </a>
            <a href="Charts.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-chart-bar mr-3"></i>
                <span>Charts</span>
            </a>
            <a href="CartrigeTable.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-chart-pie mr-3"></i>
                <span>Cartridge</span>
            </a>
            <!-- <a href="about.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-chart-line mr-3"></i>
                <span>Criteria</span>
            </a> -->
            <!-- <a href="about.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-clipboard-list mr-3"></i>
                <span>EU List</span>
            </a> -->
            <a href="TorchTable.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-table mr-3"></i>
                <span>Torch table</span>
            </a>
            <a href="FaultCodeTable.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-file-code mr-3"></i>
                <span>Fault Code Table</span>
            </a>
            <a href="PowerSupplyTable.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-tablets mr-3"></i>
                <span>Power supply table</span>
            </a>
            <!-- <a href="about.html" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-border-all mr-3"></i>
                <span>Cartridge table</span>
            </a> -->
        </div>


    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-3 h-100">
    <div class="container-fluid my-5">

      <!-- table live table -->
      <div class="row">
        <div class="col-12">
          <div class="card card-body mt-5">
            <table id="Live" class="table table-striped" class="display" width="100%">
              <thead>
                <tr>
                  <th class="th-sm text-center">Manufacturer</th>
                  <th class="th-sm text-center">Asset ID</th>
                  <th class="th-sm text-center">UUID</th>
                  <th class="th-sm text-center">ArcTime</th>
                  <th class="th-sm text-center">PilotTime</th>
                  <th class="th-sm text-center">TransferTime</th>
                  <th class="th-sm text-center">Number Of Starts</th>
                  <th class="th-sm text-center">Number Of Transfers</th>
                  <th class="th-sm text-center">Manufacturing Date</th>
                  <th class="th-sm text-center">Part Number</th>
                  <th class="th-sm text-center">Timestamp</th>
                  <th class="th-sm text-center">Serial Number</th>
                  <th class="th-sm text-center">Test Status</th>
                  <th class="th-sm text-center">End of Life</th>
                  <th class="th-sm text-center">Faults</th>
                </tr>
              </thead>
              <tbody id="livetable">

              </tbody>
              <tfoot>
                <tr>
                  <th class="th-sm text-center">Manufacturer</th>
                  <th class="th-sm text-center">Asset ID</th>
                  <th class="th-sm text-center">UUID</th>
                  <th class="th-sm text-center">ArcTime</th>
                  <th class="th-sm text-center">PilotTime</th>
                  <th class="th-sm text-center">TransferTime</th>
                  <th class="th-sm text-center">Number Of Starts</th>
                  <th class="th-sm text-center">Number Of Transfers</th>
                  <th class="th-sm text-center">Manufacturing Date</th>
                  <th class="th-sm text-center">Part Number</th>
                  <th class="th-sm text-center">Timestamp</th>
                  <th class="th-sm text-center">Serial Number</th>
                  <th class="th-sm text-center">Test Status</th>
                  <th class="th-sm text-center">End of Life</th>
                  <th class="th-sm text-center">Faults</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <!--  -->

    </div>
  </main>
  <!-- Main -->

</body>

<!-- SCRIPTS -->
<!-- JQuery -->
<script src="js/jquery-3.4.1.min.js"></script>

<!-- DataTables JS -->
<script src="js/addons/datatables.min.js" type="text/javascript"></script>
<script src="js/addons/datatables-select.min.js" type="text/javascript"></script>
<!-- DataTables Select JS -->

<script type="javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script type="javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

<!-- Bootstrap tooltips -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="js/mdb.min.js"></script>
<!-- Initializations -->
<script src="js/custom.js"></script>
<!-- MDBootstrap Datatables  -->
<!-- <script type="javascript" src="js/addons/datatables.min.js"></script> -->
<!-- <script type="javascript" src="js/addons/datatables-select.js"></script> -->
<!-- <script type="javascript" src="js/addons/datatables-select.min.js"></script> -->
<!-- <script type="javascript" src="js/addons/datatables.js"></script> -->


<script>
  $(document).ready(function () {
    $.get('/item',function(res){
      $('#Live').DataTable({
        serverside: true,
        data: res.data,
        "scrollX": true
      });

      
      sessionStorage.setItem("avg_of_starts",res.chart[0]);
      sessionStorage.setItem("avg_of_transfers",res.chart[1])
      sessionStorage.setItem("avg_of_arc_hours",res.chart[2])
    })
      
    });
  
</script>

</html>